@font-face{font-family:'baron neue';src:url("../fonts/Baron Neue Black-BaronNeuewebfont.ttf")}
*, *:before, *:after {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat','open sans', sans-serif;
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div.sound{
  background-color: #f1f1f1;
  height: 0px;
  width: 100%;
  background: linear-gradient(#f1f1f1 70%, rgba(255,255,255,.0) 90%);
}
.container{
  position: absolute;
  left: 50%;
  bottom: -1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  width: 100;
  height: calc(50% - 4rem);
  transform: translateX(-50%) rotate(180deg) scaleX(-1);
}
body{
  min-height: 100vh;
  background-color: #f1f1f1;
  overflow: hidden;
}
main{
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #475B5A;
}
main:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  background-image: url('../assets/img/spaceman.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.textBox{
  /*text-shadow: 1px 1px 5px rgba(0,0,0,.1);*/
  text-align: center;
  color: #f1f1f1;
  max-width: 30rem;
  margin: auto;
  opacity: 0;
  transform: translateY(-1rem);
  animation: fadeIn .75s ease forwards;
  z-index: 999;
  cursor: pointer;
}
.textBox:before{
  content: "Click to Play/Pause";
  display: block;
  transition: .3s all ease;
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translateY(-2rem);
}
.play .textBox:before{
  opacity: 0;
  transform: translateY(-.5rem);
}
.textBox h1{
  font-size: 4rem;
  font-family: 'baron neue';
  line-height: .9em;
}
.textBox h2{
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: .1em;
}
a.license{
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: .5rem .75rem;
  background-color: #f1f1f1;
  color: #331E38;
  font-family: 'baron neue','Lato',sans-serif;
}
a.license span{
  font-family: 'baron neue','Lato',sans-serif;
  text-transform: uppercase;
}

@keyframes fadeIn {
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
main > span{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  font-family:'Montserrat',sans-serif;
  padding: .5rem .75rem;
  padding-bottom: .1rem;
  min-width: 6rem;
  text-align: right;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
svg{
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  transform: scale(.25) translate(-120%, -120%);
  border-radius: 50%;
}
path{
  fill: transparent;
  stroke-width: 150px;
  stroke: #f1f1f1;
  opacity: .5;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  transform-origin: center center;
}
#controls{
  z-index: 0;
  width: calc(100% - 4rem + 3px);
  height: 4rem;
  left: 2rem;
  top: calc(50% - 2rem);
  position: absolute;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#previous{
  transform: rotate(90deg);
  left: -4.1rem;
  padding: 2rem;
  transition: .3s all ease;
  color: #f1f1f1;
  cursor: pointer;
}
#next{
  transform: rotate(-90deg);
  right: -3rem;
  padding: 2rem;
  transition: .3s all ease;
  color: #f1f1f1;
  cursor: pointer;
}
#next:hover,#previous:hover{
  background-color: #f1f1f1;
  color: inherit;
}
#volume{
  position: absolute;
  top: 0;
  display: flex;
  margin: auto;
  left: calc(50% - 125px/2);
  transition: .3s all ease;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#volume:hover{
  background-color: #f1f1f1;
}
#volume > *{
  padding: .5rem;
}
#up, #down, #volume h3{
  color: #f1f1f1;
}
#up,#down{
  padding: .5rem 1rem;
  cursor: pointer;
}
#volume:hover #up, #volume:hover #down, #volume:hover h3{
  color: inherit;
}
@media (max-width:500px) {
  main:after{
    content: "Not Optimized for Mobile";
    padding: .5rem;
    color: #2e2e2e;
    width: 100%;
    text-align: center;
    top: -2rem;
    position: absolute;
  }
  main{
    margin: 2rem 0;
    width: 100vw;
  }
  .textBox h1{
    font-size: 3rem;
  }
  .textBox h2{
    font-size: 1rem;
  }
  .textBox:before{
    font-size: .75rem;
    transform: translateY(-1rem)
  }
  a.license{
    display: none;
  }
  #controls{
    z-index: 0;
    width: calc(100% - 4rem + 2px);
    height: 4rem;
    left: 2rem;
    top: calc(25% - 2rem);
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  #previous{
    transform: rotate(0deg);
    left: 0;
    padding: 1.5rem;
    height: 100%;
    transition: .3s all ease;
    color: #f1f1f1;
  }
  #next{
    transform: rotate(0deg);
    right: 0;
    padding: 1.5rem;
    height: 100%;
    transition: .3s all ease;
    color: #f1f1f1;
  }
}
